################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/.vs/AspireAppWithReact
/AspireAppWithReact.AppHost/obj
/AspireAppWithReact.AppHost/bin
/AspireAppWithReact.ServiceDefaults/obj
/AspireAppWithReact.ServiceDefaults/bin
